<extend name="Base/ucmobile_base" />
<block name="body">
    <header data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <a href="#" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
    <a href="#phone-link" class="">
      <i class="am-header-icon am-icon-phone"></i>
    </a>
  </div>
  <h1 class="am-header-title">个人中心</h1>
  <div class="am-header-right am-header-nav">
    <!-- <a href="{:addons_url ( 'UserCenter://UserCenter/userCenter' )}" class="">
      <i class="am-header-icon am-icon-user"></i>
    </a>
    -->
    <a href="#cart-link" class="">
      <i class="am-header-icon am-icon-shopping-cart"></i>
    </a>
	<a href="#" class=""><!--Menu icon placeholder-->
      <i class="am-header-icon "></i>
    </a>
  </div>
</header>


    <!-- Menu -->
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
      <a href="javascript: void(0)" class="am-menu-toggle">
          <i class="am-menu-toggle-icon am-icon-bars"></i>
      </a>
        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-menu-nav sm-block-grid-1">
                    <li class="am-parent">
                        <a href="##">公司</a>
                        <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="##" title="公司">进入栏目 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##">人物</a>
                        <ul class="am-menu-sub am-collapse  sm-block-grid-3 ">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="#c3">趋势</a>
                        <ul class="am-menu-sub am-collapse am-avg-sm-4">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="#c3" title="趋势">泥煤 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##">投融资</a>
                        <ul class="am-menu-sub am-collapse am-avg-sm-3">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="##">创业公司</a>
                    </li>
                    <li class="">
                        <a href="##">创业人物</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="am-g">

            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-sm-4">
                            <notempty name="user.headimgurl">
                                <img class="am-img-circle am-img-thumbnail" src="{$user.headimgurl}" alt="用户头像"/>
                                <else />
                                <img class="am-img-circle am-img-thumbnail" src="{:ADDON_PUBLIC_PATH}/head.jpg" alt="用户头像"/>
                            </notempty>
                            <br>
                            <div class="am-btn-group-stacked">
                                <eq name="is_follow_login" value="2">
                                    <a href="#" class="am-btn am-btn-primary" >退出</a>
                                    <else/>
                                    <a href="#" class="am-btn am-btn-primary" >登录/注册</a>
                                </eq>
                                <a class="am-btn am-btn-primary">充值</a>
                            </div>
                        </div>
                        <div class="am-u-sm-8">
                            <div class="user-info">
                                <p class="user-info-order">

                                昵称：<strong>{$user.nickname}</strong><br>
                                积分：<strong>{$user.score}</strong> <br>
                                余额：<strong>0</strong><br>
                                等级：<strong>Lv1 新手</strong><br>
                                </p>
                            </div>
                            <div class="user-info">
                                <p>信用信息</p>
                                <div class="am-progress am-progress-sm">
                                    <div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
                                </div>
                                <p class="user-info-order">
                                    信用等级：正常<br>
                                    信用积分：<strong>80</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <ul class="am-nav am-nav-tabs">
            <li><a href="{:addons_url ( 'UserCenter://UserCenter/userCenter' )}">应用</a></li>
            <li  class="am-active"><a href="{:addons_url ( 'UserCenter://UserCenter/userMessage' )}">消息</a></li>
            <li><a href="{:addons_url ( 'UserCenter://Config/index' )}">资料</a></li>
            <li><a href="#">群组</a></li>
            <li><a href="#">关注</a></li>
        </ul>

        <section class="am-panel am-panel-default">
            <div class="am-panel-hd">消息列表</div>
            <ul class="am-comments-list am-comments-list-flip">
                <li class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="{:SITE_URL}/Public/Home/images/company_logo.png" alt="" class="am-comment-avatar" width="48" height="48">
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-12 15:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd">
                            <p>UCToo努力开发，新版测试ing...</p>
                            <blockquote>攻城狮：我们准备了很多bug。</blockquote>
                        </div>
                    </div>
                </li>
                <li class="am-comment">
                    <a href="#link-to-user-home">
                        <img src="{:SITE_URL}/Public/Home/images/product_logo.png" alt="" class="am-comment-avatar" width="48" height="48">
                    </a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">路人甲</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-13 0:03</time>
                            </div>
                        </header>
                        <div class="am-comment-bd"><p>各种应用开发起来<br>UCToo点个赞<br>UCToo这个名字是啥意思呢？</p>
                        </div>
                    </div>
                </li>
                <li class="am-comment am-comment-primary">
                    <a href="#link-to-user-home">
                        <img src="{:SITE_URL}/Public/Home/images/logo_text.png" alt="" class="am-comment-avatar" width="48" height="48"></a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">路人乙</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:30</time>
                            </div>
                        </header>
                        <div class="am-comment-bd"><p><a href="#lin-to-user">@某人</a> 撸主保重！</p>
                        </div>
                    </div>
                </li>
                <li class="am-comment am-comment-flip am-comment-secondary">
                    <a href="#link-to-user-home">
                        <img src="{:SITE_URL}/Public/Home/images/company_logo.png" alt="" class="am-comment-avatar" width="48" height="48"></a>
                    <div class="am-comment-main">
                        <header class="am-comment-hd">
                            <div class="am-comment-meta">
                                <a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:301</time>
                            </div>
                        </header>
                        <div class="am-comment-bd"><p><a href="#lurenyi">@路人乙</a> 朕知道了！</p></div></div>
                </li>
                <li class="am-comment am-comment-highlight">
                    <a href="#link-to-user-home">
                        <img src="{:SITE_URL}/Public/Home/images/logo_text.png" alt="" class="am-comment-avatar" width="48" height="48"></a>
                    <div class="am-comment-main"><header class="am-comment-hd">
                        <div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">路人乙</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:32</time>
                        </div></header><div class="am-comment-bd"><p><a href="#lin-to-user">@某人</a> 艹民告退！</p></div></div>
                </li>
                <li class="am-comment am-comment-flip am-comment-danger"><a href="#link-to-user-home">
                    <img src="{:SITE_URL}/Public/Home/images/company_logo.png" alt="" class="am-comment-avatar" width="48" height="48"></a>
                    <div class="am-comment-main"><header class="am-comment-hd"><div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:31</time>
                    </div></header><div class="am-comment-bd"><p><a href="#lurenyi">@路人乙</a> byebye！</p></div></div>
                </li>
                <li class="am-comment am-comment-warning"><a href="#link-to-user-home"><img src="{:SITE_URL}/Public/Home/images/logo_text.png" alt="" class="am-comment-avatar" width="48" height="48"></a><div class="am-comment-main">
                    <header class="am-comment-hd"><div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">路人乙</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:32</time></div>
                    </header><div class="am-comment-bd"><p><a href="#lin-to-user">@某人</a> 免跪！</p></div></div>
                </li>
                <li class="am-comment am-comment-flip am-comment-success"><a href="#link-to-user-home"><img src="{:SITE_URL}/Public/Home/images/company_logo.png" alt="" class="am-comment-avatar" width="48" height="48"></a><div class="am-comment-main">
                    <header class="am-comment-hd"><div class="am-comment-meta"><a href="#link-to-user" class="am-comment-author">某人</a> 评论于 <time datetime="2013-07-27T04:54:29-07:00" title="2013年7月27日 下午7:54 格林尼治标准时间+0800">2014-7-14 23:301</time></div>
                    </header><div class="am-comment-bd"><p><a href="#lurenyi">@路人乙</a> 你妹！</p></div></div>
                </li>
            </ul>
        </section>





    </div>


<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li data-am-navbar-share>
      <a href="#">
        <span class="am-icon-share-square-o"></span>
        <span class="am-navbar-label">分享</span>
      </a>
    </li>
    <li data-am-navbar-qrcode>
      <a href="#">
        <span class="am-icon-qrcode"></span>
        <span class="am-navbar-label">二维码</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-github"></span>
        <span class="am-navbar-label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-download"></span>
        <span class="am-navbar-label">下载使用</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">Bug 反馈</span>
      </a>
    </li>
  </ul>
</div>
</block><!--body end -->
<block name="script">
    <script type="text/javascript">

    </script>
</block>
