<extend name="Base/ucmobile_base" />
<block name="body">
    <header data-am-widget="header" class="am-header am-header-default ">
  <div class="am-header-left am-header-nav">
    <a href="#" class="">
      <i class="am-header-icon am-icon-home"></i>
    </a>
    <a href="#phone-link" class="">
      <i class="am-header-icon am-icon-phone"></i>
    </a>
  </div>
  <h1 class="am-header-title">个人中心</h1>
  <div class="am-header-right am-header-nav">
    <!-- <a href="{:addons_url ( 'UserCenter://UserCenter/userCenter' )}" class="">
      <i class="am-header-icon am-icon-user"></i>
    </a>
    -->
    <a href="#cart-link" class="">
      <i class="am-header-icon am-icon-shopping-cart"></i>
    </a>
	<a href="#" class=""><!--Menu icon placeholder-->
      <i class="am-header-icon "></i>
    </a>
  </div>
</header>


    <!-- Menu -->
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
      <a href="javascript: void(0)" class="am-menu-toggle">
          <i class="am-menu-toggle-icon am-icon-bars"></i>
      </a>
        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">
                <ul class="am-menu-nav sm-block-grid-1">
                    <li class="am-parent">
                        <a href="##">公司</a>
                        <ul class="am-menu-sub am-collapse  sm-block-grid-2 ">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="##" title="公司">进入栏目 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##">人物</a>
                        <ul class="am-menu-sub am-collapse  sm-block-grid-3 ">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="#c3">趋势</a>
                        <ul class="am-menu-sub am-collapse am-avg-sm-4">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="#c3" title="趋势">泥煤 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##">投融资</a>
                        <ul class="am-menu-sub am-collapse am-avg-sm-3">
                            <li class="">
                                <a href="##">公司</a>
                            </li>
                            <li class="">
                                <a href="##">人物</a>
                            </li>
                            <li class="">
                                <a href="##">趋势</a>
                            </li>
                            <li class="">
                                <a href="##">投融资</a>
                            </li>
                            <li class="">
                                <a href="##">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="##">创业公司</a>
                    </li>
                    <li class="">
                        <a href="##">创业人物</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="am-g">

            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-sm-4">
                            <notempty name="user.headimgurl">
                                <img class="am-img-circle am-img-thumbnail" src="{$user.headimgurl}" alt="用户头像"/>
                                <else />
                                <img class="am-img-circle am-img-thumbnail" src="{:ADDON_PUBLIC_PATH}/head.jpg" alt="用户头像"/>
                            </notempty>
                            <br>
                            <div class="am-btn-group-stacked">
                                <eq name="is_follow_login" value="2">
                                    <a href="#" class="am-btn am-btn-primary" >退出</a>
                                    <else/>
                                    <a href="#" class="am-btn am-btn-primary" >登录/注册</a>
                                </eq>
                                <a class="am-btn am-btn-primary">充值</a>
                            </div>
                        </div>
                        <div class="am-u-sm-8">
                            <div class="user-info">
                                <p class="user-info-order">

                                昵称：<strong>{$user.nickname}</strong><br>
                                积分：<strong>{$user.score}</strong> <br>
                                余额：<strong>0</strong><br>
                                等级：<strong>Lv1 新手</strong><br>
                                </p>
                            </div>
                            <div class="user-info">
                                <p>信用信息</p>
                                <div class="am-progress am-progress-sm">
                                    <div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
                                </div>
                                <p class="user-info-order">
                                    信用等级：正常<br>
                                    信用积分：<strong>80</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <ul class="am-nav am-nav-tabs">
            <li><a href="{:addons_url ( 'UserCenter://UserCenter/userCenter' )}">应用</a></li>
            <li><a href="{:addons_url ( 'UserCenter://UserCenter/userMessage' )}">消息</a></li>
            <li class="am-active"><a href="{:addons_url ( 'UserCenter://Config/index' )}">资料</a></li>
            <li><a href="#">群组</a></li>
            <li><a href="#">关注</a></li>
        </ul>

        <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
  <ul class="am-tabs-nav am-cf">
    <li class="am-active">
      <a href="[data-tab-panel-0]">基本资料</a>
    </li>
    <li class="">
      <a href="[data-tab-panel-1]">扩展资料</a>
    </li>
  </ul>
  <div class="am-tabs-bd">
    <div data-tab-panel-0 class="am-tab-panel am-active">
        <form class="am-form" action="{:addons_url ( 'UserCenter://Config/index' )}" method="post">
            <fieldset>
                <div class="am-form-group">
                    <label for="nickname">昵称：</label>
                    <input type="text" class="" id="nickname" name="nickname" value="{$user.nickname|op_t}"
                           placeholder="昵称" >
                </div>
                <div class="am-form-group">
                    <label for="nickname">姓名：</label>
                    <input type="text" class="" id="username" name="username" value="{$ucuser.username}"
                           placeholder="真实姓名">
                </div>
                <div class="am-form-group">
                    <label>性别：</label>
                    <label class="am-radio-inline">
                        <input name="sex" type="radio"  value="1" name="docInlineRadio"
                        <eq name="user.sex" value="1"> checked</eq>
                        > 男
                    </label>
                    <label class="am-radio-inline">
                        <input name="sex" type="radio" value="2" name="docInlineRadio"
                        <eq name="user.sex" value="2"> checked</eq>
                        > 女
                    </label>
                    <label class="am-radio-inline">
                        <input name="sex" type="radio" value="0" name="docInlineRadio"
                        <eq name="user.sex" value="0"> checked</eq>
                        > 保密
                    </label>
                </div>
                <div class="am-form-group">
                    <label for="email">邮箱：</label>
                    <input type="text" class="" id="email" placeholder="邮箱" name="email"
                           value="{$ucuser.email}">
                </div>
                <div class="am-form-group">
                    <label for="mobile">手机：</label>
                    <input type="tel" class="" id="mobile" placeholder="手机" name="mobile"  value="{$user.mobile}">
                </div>

                <p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
            </fieldset>
        </form>
    </div>
    <div data-tab-panel-1 class="am-tab-panel ">
       扩展资料需定制。
    </div>
  </div>

    </div><!-- end资料tab -->


<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li data-am-navbar-share>
      <a href="#">
        <span class="am-icon-share-square-o"></span>
        <span class="am-navbar-label">分享</span>
      </a>
    </li>
    <li data-am-navbar-qrcode>
      <a href="#">
        <span class="am-icon-qrcode"></span>
        <span class="am-navbar-label">二维码</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-github"></span>
        <span class="am-navbar-label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-download"></span>
        <span class="am-navbar-label">下载使用</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">Bug 反馈</span>
      </a>
    </li>
  </ul>
</div>
</block><!--body end -->
<block name="script">
    <script type="text/javascript">

    </script>
</block>
