<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container body">
    	<div class="p_10 top_line"> 
        	<h5 class="page_title">会员卡实用商家列表</h5>
        	<h6 class="mt_10 mt_15">深圳市</h6>
            <div class="block_content_bg p_10 mt_10">
            	<p>南山中心城店</p>
                <p><a href="http://api.map.baidu.com/marker?location=113.923966,22.500347&title=广东省深圳市&name=广东省深圳市&content=广东省深圳市&output=html&src=uctoo" target="_blank">地址：南山区文心五路1002号</a></p>
                <p><a href="tel:{$config.phone}>电话：</a></p>
            </div>
            <div class="block_content_bg p_10 mt_10">
            	<p>南山中心城店</p>
                <p><a href="http://api.map.baidu.com/marker?location=113.923966,22.500347&title=广东省深圳市&name=广东省深圳市&content=广东省深圳市&output=html&src=uctoo" target="_blank">地址：南山区文心五路1002号</a></p>
                <p><a href="tel:{$config.phone}">电话：</a></p>
            </div>
            <h6 class="mt_10 mt_15">苏州市</h6>
            <div class="block_content_bg p_10 mt_10">
            	<p>苏州店</p>
                <p><a href="http://api.map.baidu.com/marker?location=113.923966,22.500347&title=广东省深圳市&name=广东省深圳市&content=广东省深圳市&output=html&src=uctoo" target="_blank">地址：南山区文心五路1002号</a></p>
                <p><a href="tel:{$config.phone}">电话：</a></p>
            </div>
            <div class="block_content_bg p_10 mt_10">
            	<p>苏州园林店</p>
                <p><a href="http://api.map.baidu.com/marker?location=113.923966,22.500347&title=广东省深圳市&name=广东省深圳市&content=广东省深圳市&output=html&src=uctoo" target="_blank">地址：南山区文心五路1002号</a></p>
                <p><a href="tel:{$config.phone}">电话：</a></p>
            </div>
        </div>
        <p class="copyright">{$system_copy_right}</p>
    </div>
    <script type="text/javascript">
    	
    </script>
</body>
</html>
