<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>
	<include file="Shop/head"/>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.min.js"></script>
</head>
<body>
	<div id="frame_">
	<div id="layout" class="full shop_page">
	<!-- 头部 -->
	<include file="Shop/header"/>
	<!-- /头部 -->
	<!--主体顶部-->
	<include file="Shop/top" />
	<!--/主体顶部-->
	<!-- 主体 -->
	<include file="Shop/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Shop/footer"/>
	<!-- /底部 -->
	</div><!-- end layout -->
	</div><!-- end frame -->

<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
<div id="shopdialog"></div>
<!-- Scripts -->
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/theme20.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.nicescroll.min.js"></script>

	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/gmap3.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/twitter/jquery.tweet.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/custom.js"></script>
<script type="text/javascript">
//删除购物车商品
oncartdel();
function oncartdel(){
	$(".price_remover a.remove").click(function(){
		var url=$(this).attr('href');
		$.get(url,'',function(data){
			upcartgoods(data);
			//$(this).parents('li.clearfix').remove();
		});
		return false;
	});
}
//更新购物车
function upcartgoods(goods){
	if(!goods){
		goods = [];
		goods.allnum=0;
		goods.allprice="0.00";
	}
	$("#topCart_allnum").html(goods.allnum);
	$("#topCart_allprice").html("￥"+goods.allprice);
	var html = '';
	$.each(goods,function(i,v){
		//daley:2014.06.30:style="width:50px" for IE9
		if(v.id){
			html += '\
			<li class="clearfix">\
				<a href="'+v.url+'"><img class="fll" width="50" style="width:50px" src="'+v.icon+'" /></a>\
				<div class="cart_list_product_title">\
					<a href="shop-single-product.html">'+v.name+'</a>\
					<div class="cart_list_product_数量">数量: '+v.num+'</div>\
				</div>\
				<div class="price_remover">\
					<a href="'+v.delurl+'" class="remove" title="删除">×</a>\
					<span class="amount">¥'+v.price+'</span>\
				</div>\
			</li>\
			';
		}
	});
	if(html=='')
		html='<li style="text-align:center">您还未选购商品哦。</li>';
	$("#topCart_goods").html(html);
	oncartdel();
}
//添加购物车
function addcart(goods_id,sid){	
	if(!goods_id){
		showbox('购物车','您还没有选择商品。');
		return false;
	}
	if(!sid){
		selectshop(goods_id);
	}else{
		$.post("{:U('shopcart','act=add')}",{id:goods_id,sid:sid},function(data){
			showbox("购物车",data.info);
			//daley:2014.06.30:避免已存在商品的时候刷新购物车（此时未取出购物车数据）
			if(data.info!='购物车已存在该商品。')
				upcartgoods(data.goods);
		},'JSON');
	}
}
//选择商店
function selectshop(goods_id){
	$.post("{:U('getshops')}",{id:goods_id},function(data){
		if(!data){
			showbox("购物车","暂无相关供货商。");
		}else{
			var html = '请选择供货商：<select id="buyshop">';
			$.each(data,function(i,v){
				html +='<option value="'+v.id+'">'+v.title+'</option>';
			});
			html += '</select>';
			showbox('购物车',html,function(){
				var sid=$("#buyshop").val();
				addcart(goods_id,sid);
			});
		}
	});
}
//提示
function showbox(title,html,func){
	$("#shopdialog").html(html);
	$("#shopdialog").dialog({
			title:title,
			show:"slideDown",
			buttons: [ { 
				text: "确定", 
				click: function() { 
					$( this ).dialog( "close" ); 
					func();
				} } ]
		});
}
</script>
</body>
</html>