<!DOCTYPE html>
<html>
<head>
    <title>微信表白墙帮助</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/initform.js"></script>
    <style>
        body{padding-top: 50px;padding-bottom: 20px;}
        .love{padding-bottom: 20px;border-bottom: 1px solid #ccc;}
        .love h4{font-size: 20px;color:#08a5e0;}
        .love h4 span{font-size:12px}
        .love p{font-size: 12px;line-height: 24px}
        .love span{height: 30px;min-width:60px;}
        .love .pull-right{height: 30px;line-height: 30px;}
        .jumbotron{padding:10px;}

        .row{margin:0 auto;}
        .navbar-brand{color:#08a5e0 !important}
    </style>
</head>
<body>

<div class="container">
    <div class="row">



            <div class="col-md-3 love">
                <h4>表白墙帮助</h4>
                <div>1：我要表白功能，可以向表白墙发出一条表白信息。</div>
                <div>1.1：Ta的名字请填写被表白者在此公众号社区（个人中心）注册的名字。不知道Ta的名字？随意写一个让有缘人查询吧。</div>
                <div>1.2：Ta的手机号，请填写被表白者在<span style="line-height: 1.5;">此公众号社区（个人中心）注册的手机号。不知道Ta的手机号？随意写一个让有缘人解锁吧。<span id="_editor_bookmark_start_0" style="display: none; line-height: 0px;">‍</span></span></div>
                <div><span style="line-height: 1.5;">1.3：想对Ta说的话，你一定不会把Ta的电话写在这里。</span></div>
                <div><span style="line-height: 1.5;">1.4：我的名字，默认是表白者在此</span><span style="line-height: 1.5;">公众号社区（个人中心）注册的名字。<span id="_editor_bookmark_start_1" style="display: none; line-height: 0px;">‍</span></span></div>
                <div><span style="line-height: 1.5;">1.5</span><span style="line-height: 1.5;">：表白类型。公开表白所有人都可以看到。秘密表白只有<span id="_editor_bookmark_start_2" style="display: none; line-height: 0px;">‍</span></span><span style="line-height: 1.5;">在</span><span style="line-height: 1.5;">此公众号社区（个人中心）注册的手机号和你输入的Ta的手机号相同的用户才能看到。<span id="_editor_bookmark_start_3" style="display: none; line-height: 0px;">‍</span></span></div>
                <div><span style="line-height: 1.5;">2：“我的表白”功能，查询出自己发出过的所有表白。</span></div>
                <div><span style="line-height: 1.5;">3：右上角的菜单可根据Ta的名字查询表白信息，支持模糊查询。在</span><span style="line-height: 1.5;">此公众号社区（个人中心）实名注册，才好在众多的表白信息中查询到给自己的表白吧。<span id="_editor_bookmark_start_4" style="display: none; line-height: 0px;">‍</span></span></div>
                <div><span style="line-height: 1.5;">4：表白状态是表白配对中的表白可以进行回复。只有正确输入了手机号才能解锁回复。回复表白时可设置表白结果，设置为表白配对中的表白可以回复多次，但请注意，这里是表白现场，不是勾搭场所。表白成功或表白失败的表白不可再进行回复。</span></div>
                <div><span style="line-height: 1.5;">5：</span><span style="line-height: 1.5;">公开表白的回复内容所有人都可以看到。<span id="_editor_bookmark_start_5" style="display: none; line-height: 0px;">‍</span></span><span style="line-height: 1.5;">秘密表白的回复内容，可查看权限与秘密表白相同。<span id="_editor_bookmark_start_6" style="display: none; line-height: 0px;">‍</span></span></div>
                <div><span style="line-height: 1.5;">6：帮助功能...你已经在这里了...</span></div>
                <div>关注UCToo_com微信公众号，使用更多功能。</div>
                <div class="getqrcode">
                    <img src="/Public/Home/images/fwqrcode.jpg">
                    <p>微信扫码左侧二维码<br>并加关注UCToo官方微信公众号<br>体验UCToo的最新功能</p>
                </div>
            </div>

    </div>


</div>

<div  style="font-size: 12px;line-height: 24px;width: 100%;text-align: center;color: #444;margin-top: 10px;">
    <p class="copyright">{$system_copy_right}</p>
</div>

</body>
</html>