<!DOCTYPE html>
<html>
<head>
    <title>微信表白墙</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/img/style.css"/>

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>

    </style>
    <script type="text/javascript">

        var posturl = "{:addons_url ( 'Love://Love/myReply' )}";
function collectTrends(tid, uid){
		        loading(true);
	    	    $.post("{:U('likeAjax',array('token'=>get_token()))}",{
	    	        "tid"  : tid,
	    	        "uid"  : uid,
		    	    },function(res){
		    	    	loading(false);
		    	        if(res) {
							
			    	        location.reload();
		    	        }

		    	    });
	        }
	       function praiseTrends(tid, uid){
	    	    loading(true);
	    	    $.post("{:U('favourAjax',array('token'=>get_token()))}",{
	    	        "tid"  : tid,
	    	        "uid"  : uid,
		    	    },function(res){
		    	    	loading(false);
		    	        if(res) {
			    	        location.reload();
		    	        }

		    	    });
	        }

    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" rol="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{$index}">微信表白墙-->右侧搜索</a>
        </div>
        <div class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" method="post" action="#">
                <div class="form-group">
                    <input type="text" name="keyword" class="text form-control" placeholder="有人向我表白吗?（查询我的名字）">

                </div>
                <button type="submit" class="btn btn-success">查询</button>
                <a href="{:addons_url ( 'Love://Love/help' )}" class="btn btn-success pull-right">帮助</a>
            </form>

        </div>
    </div>
</div>

<div class="jumbotron">
    <div id="bg" class="container">
        <div id="top">
            <ul id="num">
                
                    <li>{$count}</li>
               
                <div class="clear"></div>
            </ul>
            <div id="right">
                I love you
                <p>次告白</p>
            </div>


        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-8 col-md-6 pull-left">
                <a href="{$jump_url}" class="btn btn-success">我要表白</a>
            </div>
            <div class="col-xs-4 col-md-3 pull-right">
                <form class="" method="post" action="#">
                    <input type="hidden" name="myid" class="text form-control" value="{$mid}">
                    <button type="submit" class="btn btn-success">我的表白</button>
                </form>
            </div>
        </div>

    </div>
</div>



    <ul id="item">
        <volist name="list_data" id="vo">
            <li>
                <div class='result iconfont senting'>{$vo.id}</div>
                <div class='box'>

                        <h4>To:{$vo.lover}<span class="pull-right">{$vo.cTime|time_format}</span></h4>
                        <if condition="$vo['type'] eq 0"><p>{$vo.content}</p>
                            <elseif condition="$vo['type'] eq 1"/>
                            <p><a href="#" data-toggle="modal" data-target="#secretModal{$vo.id}">这是一条秘密表白</a></p>
                        </if>
                        <span class="btn btn-primary">From:{$vo.nickname}</span>
					<span class="pull-right">
                        <if condition="$vo['state'] eq 0"><a href="#" data-toggle="modal"
                                                             data-target="#myModal{$vo.id}">表白失败</a>
                            <elseif condition="$vo['state'] eq 1"/>
                            <a href="#" data-toggle="modal" data-target="#myModal{$vo.id}">表白成功</a>
                            <else/>
                            <a href="{:addons_url ( 'Love://Love/myReply?id='.$vo['id'] )}">表白配对中</a>
                        </if>
                    </span>

                        <div onclick="praiseTrends({$vo.id},'{$wecha_id}')" class='like iconfont'>&#xe601; <a
                                href="{:addons_url ( 'Love://Love/favourAjax',array('token'=>get_token(),'tid'=>$vo['id'],'uid'=>$wecha_id))}"
                                class="a_like <php>if(in_array($wecha_id,explode(',',$vo['favourid']))){echo 'on';}else{ }</php>"><span
                                class="icons icons_like">&nbsp;</span><label>
                            <if condition="empty($vo['favourid'])">0
                                <else/>
                                {:count(explode(',',$vo['favourid']))}
                            </if>
                        </label></a></div>
                        <a href="{:U('showComment',array('id'=>$vo['id'],'openid'=>get_openid(),'token'=>get_token()))}"
                           class='comment iconfont'>&#xe635; {$vo.cnum}</a>

                        <div class="modal fade" id="myModal{$vo.id}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!--公开表白的结果也是公开的-->
                                    <if condition="$vo['type'] eq 0">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">my lover's reply</h4>
                                        </div>
                                        <div class="modal-body">
                                            {$vo.reply}
                                        </div>
                                        <elseif condition="$vo['type'] eq 1"/>


                                        <if condition="$vo['phone'] eq $user['mobile']|| $vo['uid'] eq $mid">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalLabel">my lover's reply</h4>
                                            </div>
                                            <div class="modal-body">
                                                {$vo.reply}
                                            </div>
                                            <else/>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="secretModalLabel">这条表白不是给你的</h4>
                                            </div>
                                            <div class="modal-body">
                                                你在个人中心注册的电话号码与表白者输入的电话不相符。看不到秘密表白的回复。
                                            </div>
                                        </if>
                                    </if>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary   pull-left">确定</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <if condition="$vo['type'] eq 1">
                            <div class="modal fade" id="secretModal{$vo.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="secretModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <if condition="$vo['phone'] eq $user['mobile']|| $vo['uid'] eq $mid">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="secretModalLabel">这是一条给你的表白</h4>
                                            </div>
                                            <div class="modal-body">
                                                {$vo.content}
                                            </div>
                                            <else/>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">&times;</span><span
                                                        class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="secretModalLabel">这条表白不是给你的</h4>
                                            </div>
                                            <div class="modal-body">
                                                你在个人中心注册的电话号码与表白者输入的电话不相符。看不到秘密表白的内容。
                                            </div>
                                        </if>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary   pull-left">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </if>


                </div>
                <!--end of box-->
            </li>
        </volist>
    </ul>


<ul id="page">

        {$page}
</ul>

<div style="font-size: 12px;line-height: 24px;width: 100%;text-align: center;color: #444;margin-top: 10px;">
    <p class="copyright">{$system_copy_right}</p>
</div>

</body>
</html>