<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商家列表</title>
    <link rel="stylesheet" href="__STATIC__/uctoo/plugins/floors/f7/css/framework7.min.css">
    <link rel="stylesheet" href="__STATIC__/uctoo/plugins/floors/f7/css/my-app.css">
</head>
<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding">品牌导购</div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div class="page whitebg">
                    <div class="page-content">

                        <volist name="brandstype" id="vo">
                            <div class="warp-tjsj warp-type">
                                <h3 class="blue">{$vo.settype|get_name_by_status='settype',$modelid}</h3>
                                <div class="row no-gutter">
                                <volist name="brands" id="vv" mod="3" >

                                    <if condition="$vo['settype'] eq $vv['settype']">
                                        <div class="col-33">
                                            <a href="/index.php?s=/Home/Index/shopdt/id/{$vv.id}.html"  class="external">
                                                <img alt="{$vv.title}" src="{$vv.logo|get_cover_url}" />
                                                {$vv.title}
                                            </a>
                                        </div>

                                    </if>

                                </volist>
                            </div>
                            </div>
                        </volist>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/floors/f7/js/framework7.min.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/floors/f7/js/my-app.js"></script>
</body>
</html> 