<block name="_body">
<!-- start: MAIN CONTAINER -->
<div class="main-container">
<!-- start: REVOLUTION SLIDERS -->
<section class="fullwidthbanner-container">
<div class="fullwidthabnner">
    <ul>
        <!-- start: FIRST SLIDE -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <img src="__STATIC__/uctoo/images/sliders/homepageslide1bg.png"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
            <div class="caption lft white slide_subtitle_white"
                 data-x="150"
                 data-y="10"
                 data-speed="400"
                 data-start="500"
                 data-easing="easeOutExpo">
                再小的个体，也有自己的平台
            </div>
            <div class="caption sfr"
                 data-x="20"
                 data-y="55"
                 data-speed="700"
                 data-start="1000"
                 data-easing="easeOutExpo"  >
                <img src="__STATIC__/uctoo/images/wechatapp.png" alt="Image 1">
            </div>
            <div class="caption lft slide_title slide_item_left white"
                 data-x="720"
                 data-y="25"
                 data-speed="400"
                 data-start="1500"
                 data-easing="easeOutExpo">
                UCToo专为移动优化
            </div>
            <div class="caption lft slide_subtitle slide_item_left"
                 data-x="720"
                 data-y="100"
                 data-speed="400"
                 data-start="2000"
                 data-easing="easeOutExpo">
                开源微信应用开发框架
            </div>
            <div class="caption lft slide_desc slide_item_left white"
                 data-x="720"
                 data-y="140"
                 data-speed="400"
                 data-start="2500"
                 data-easing="easeOutExpo">
                先进技术，主流应用，开源开放
                <br>
                开发者社区支持，聚合微信优秀创意
                <br>
                微应用插件化，应用中心海量分享
                <br>
                云服务支撑，站点平台独立部署
                <br>
                多用户多帐号高效管理，快速开发定制
            </div>
            <a class="caption lft btn btn-green slide_btn slide_item_left" href="{:SITE_URL}/Uploads/Download/uctoo_0.1rc_20140606.zip"
               data-x="720"
               data-y="280"
               data-speed="400"
               data-start="3000"
               data-easing="easeOutExpo">
                0.1 下  载
            </a>
        </li>
        <!-- end: FIRST SLIDE -->
        <!-- start: SECOND SLIDE -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <img src="__STATIC__/uctoo/images/bg1.jpg"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
            <div class="caption lft slide_title slide_item_left"
                 data-x="0"
                 data-y="105"
                 data-speed="400"
                 data-start="1500"
                 data-easing="easeOutExpo">
                一站式解决方案
            </div>
            <div class="caption lfl slide_subtitle slide_item_left"
                 data-x="0"
                 data-y="180"
                 data-speed="400"
                 data-start="2000"
                 data-easing="easeOutExpo">
                门户、微应用、APP统一集成
            </div>
            <div class="caption lfr slide_desc slide_item_left"
                 data-x="0"
                 data-y="220"
                 data-speed="400"
                 data-start="2500"
                 data-easing="easeOutExpo">
                100%自适应界面，各种屏幕尺寸均有良好体验
                <br>
                社区、电商、导航、O2O、智能硬件灵活组合
            </div>
            <a class="caption lfb btn btn-bricky slide_btn slide_item_left" href="{:SITE_URL}/Uploads/Download/uctoo_0.1rc_20140606.zip"
               data-x="0"
               data-y="320"
               data-speed="400"
               data-start="3000"
               data-easing="easeOutExpo">
                0.1 下  载
            </a>
            <div class="caption lft"
                 data-x="680"
                 data-y="85"
                 data-speed="500"
                 data-start="1000"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/responsive1.png" alt="Image 1">
            </div>
            <div class="caption lfb"
                 data-x="770"
                 data-y="115"
                 data-speed="500"
                 data-start="1300"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/responsive2.png" alt="Image 1">
            </div>
            <div class="caption lft"
                 data-x="820"
                 data-y="140"
                 data-speed="500"
                 data-start="1600"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/responsive3.png" alt="Image 1">
            </div>
            <div class="caption lfb"
                 data-x="880"
                 data-y="160"
                 data-speed="500"
                 data-start="1900"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/responsive4.png" alt="Image 1">
            </div>
        </li>
        <!-- end: SECOND SLIDE -->
        <!-- start: THIRD SLIDE -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
            <img src="__STATIC__/uctoo/images/bg2.jpg"  style="background-color:rgb(246, 246, 246)" alt="slidebg1"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">
            <div class="caption lft slide_title slide_item_left"
                 data-x="0"
                 data-y="105"
                 data-speed="400"
                 data-start="1500"
                 data-easing="easeOutExpo">
                大数据运营支撑
            </div>
            <div class="caption sft slide_subtitle slide_item_left"
                 data-x="0"
                 data-y="180"
                 data-speed="400"
                 data-start="2000"
                 data-easing="easeOutExpo">
                云服务深度融入开发和运营
            </div>
            <div class="caption sfr slide_desc slide_item_left grey"
                 data-x="0"
                 data-y="220"
                 data-speed="400"
                 data-start="2500"
                 data-easing="easeOutExpo">
                通过云服务的标准化支撑能力，保障信息与数据安全
                <br>
                开放平台架构，海量数据挖掘分析，有效支撑开发和运营
            </div>
            <a class="caption sfb btn btn-purple slide_btn slide_item_left" href="{:SITE_URL}/Uploads/Download/uctoo_0.1rc_20140606.zip"
               data-x="0"
               data-y="320"
               data-speed="400"
               data-start="3000"
               data-easing="easeOutExpo">
                0.1 下  载
            </a>
            <div class="caption sfr"
                 data-x="800"
                 data-y="115"
                 data-speed="500"
                 data-start="1000"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/device1.png" alt="Image 1">
            </div>
            <div class="caption sfr"
                 data-x="710"
                 data-y="225"
                 data-speed="500"
                 data-start="1300"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/device2.png" alt="Image 1">
            </div>
            <div class="caption sfr"
                 data-x="860"
                 data-y="300"
                 data-speed="500"
                 data-start="1600"
                 data-easing="easeOutBack">
                <img src="__STATIC__/uctoo/images/sliders/device3.png" alt="Image 1">
            </div>
        </li>
        <!-- end: THIRD SLIDE -->
    </ul>
</div>
</section>
<!-- end: REVOLUTION SLIDERS -->
<section>
    <!-- start: CORE BOXES CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <img src="__STATIC__/uctoo/images/feture1.png" alt="core">
                        <h2>强大核心</h2>
                    </div>
                    <div class="content">
                        先进的技术架构，预置内容管理系统、会员中心、基础微应用、轻量社交化组件，强大的前后台管理，人性化的界面设计，快速安装定制个性化微信公众号管理平台。
                    </div>
                    <a class="view-more" href="#">
                        阅读原文 <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <img src="__STATIC__/uctoo/images/feture2.png" alt="app store">
                        <h2>应用中心</h2>
                    </div>
                    <div class="content">
                        增值应用一键安装，开放api标准化应用集成，插件个性化定制，开发者社区支持，快速响应定制需求，创意无界精彩无限。
                    </div>
                    <a class="view-more" href="#">
                        阅读原文 <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="core-box">
                    <div class="heading">
                        <img src="__STATIC__/uctoo/images/feture3.png" alt="云服务">
                        <h2>云平台支撑</h2>
                    </div>
                    <div class="content">
                        安全、高效、优质的云托管服务，通过云平台的标准化支撑能力，保障信息与数据安全，为客户和开发者提供微信公众号一站式服务。
                    </div>
                    <a class="view-more" href="#">
                        阅读原文 <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: CORE BOXES CONTAINER -->
</section>
</div>
<!-- end: MAIN CONTAINER -->
</block>
