    <!-- start: HEADER -->
    <header>
    <!-- start: SLIDING BAR (SB) -->
    <div id="slidingbar-area">
        <div id="slidingbar">
            <!-- start: SLIDING BAR FIRST COLUMN -->
            <div class="col-md-4 col-sm-4">
                <h2>About UCT</h2>
                <p>
                    中国领先的互联网应用解决方案提供商，崇尚开放、平等、共享的互联网精神。
                </p>
            </div>
            <!-- end: SLIDING BAR FIRST COLUMN -->
            <!-- start: SLIDING BAR SECOND COLUMN -->
            <div class="col-md-4 col-sm-4">
                <h2>最新作品</h2>
                <div class="blog-photo-stream margin-bottom-30">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image01.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image02.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image03.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image04.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image05.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image06.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image07.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image08.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image09.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img alt="" src="__STATIC__/uctoo/images/image10.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end: SLIDING BAR SECOND COLUMN -->
            <!-- start: SLIDING BAR THIRD COLUMN -->
            <div class="col-md-4 col-sm-4">
                <h2>联系我们</h2>
                <address class="margin-bottom-40">
                    UCT
                    <br>
                    深圳市南山区蛇口工业六路9号创新谷
                    <br>
                    UCToo官方QQ交流群: 102324323
                    <br>
                    Email:
                    <a href="#">
                        contact@uctoo.com
                    </a>
                </address>
            </div>
            <!-- end: SLIDING BAR THIRD COLUMN -->
        </div>
        <!-- start: SLIDING BAR TOGGLE BUTTON -->
        <a href="#" class="sb_toggle">
        </a>
        <!-- end: SLIDING BAR TOGGLE BUTTON -->
    </div>
    <!-- end: SLIDING BAR -->
    <!-- start: TOP BAR -->
    <div class="clearfix " id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <!-- start: TOP BAR CALL US -->
                    <div class="callus">
                        Mail:
                        <a href="mailto:contact@uctoo.com">
                            contact@uctoo.com
                        </a>
                    </div>
                    <!-- end: TOP BAR CALL US -->
                </div>
                <div class="col-sm-6">
                    <!-- start: TOP BAR SOCIAL ICONS -->
                    <div class="social-icons">
                        <ul>
                            <li class="social-wechat tooltips" data-original-title="微信" data-placement="bottom">
                                <a target="_blank" href="http://weixin.qq.com/">
                                    微信
                                </a>
                            </li>
                            <li class="social-weibo tooltips" data-original-title="微博" data-placement="bottom">
                                <a target="_blank" href="http://www.weibo.com/">
                                    微博
                                </a>
                            </li>
                            <li class="social-gitoschina tooltips" data-original-title="git.oschina" data-placement="bottom">
                                <a target="_blank" href="http://git.oschina.net/">
                                    git.oschina
                                </a>
                            </li>
                            <li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">
                                <a target="_blank" href="http://facebook.com">
                                    Facebook
                                </a>
                            </li>
                            <li class="social-google tooltips" data-original-title="Google" data-placement="bottom">
                                <a target="_blank" href="http://google.com">
                                    Google+
                                </a>
                            </li>
                            <li class="social-linkedin tooltips" data-original-title="LinkedIn" data-placement="bottom">
                                <a target="_blank" href="http://linkedin.com">
                                    LinkedIn
                                </a>
                            </li>
                            <li class="social-rss tooltips" data-original-title="RSS" data-placement="bottom">
                                <a target="_blank" href="#" >
                                    RSS
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- end: TOP BAR SOCIAL ICONS -->
                </div>
            </div>
        </div>
    </div>
    <!-- end: TOP BAR -->
    <div role="navigation" class="navbar navbar-default navbar-fixed-top space-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
    <div class="navbar-header">
        <!-- start: RESPONSIVE MENU TOGGLER -->
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- end: RESPONSIVE MENU TOGGLER -->
        <!-- start: LOGO -->
        <a class="navbar-brand" href="{:SITE_URL}" title="返回首页">
            <img src="__STATIC__/uctoo/images/logo.png" />
        </a>
        <!-- end: LOGO -->
    </div>
    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li class="active">
        <a <if condition="ACTION_NAME eq 'index' and CONTROLLER_NAME eq 'Index'">class="cur"</if> href="{:U('home/index/index')}">首页</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown">
            UCT <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{:U('about')}">
                    关于UCToo
                </a>
            </li>
            <li>
                <a href="#">
                    团队成员
                </a>
            </li>
            <li>
                <a href="#">
                    业务简介
                </a>
            </li>
            <li>
                <a href="{:U('jobs')}">
                    加入我们
                </a>
            </li>
            <li>
                <a href="{:U('contact')}">
                    联系方式
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a target="_blank" href="{:U('home/index/help')}">
            帮助中心
        </a>
    </li>
    <li>
        <a href="{:U('home/index/main')}" >
            管理中心
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            应用商店
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            开发者社区
        </a>
    </li>
    <li class="menu-search">
        <!-- start: SEARCH BUTTON -->
        <a href="#" data-placement="bottom" data-toggle="popover">
            <i class="clip-search-3"></i>
        </a>
        <!-- end: SEARCH BUTTON -->
        <!-- start: SEARCH POPOVER -->
        <div class="popover bottom search-box">
            <div class="arrow"></div>
            <div class="popover-content">
                <!-- start: SEARCH FORM -->
                <form class="" id="searchform" action="#">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-main-color btn-squared" type="button">
                                                        <i class="clip-search-3"></i>
                                                    </button> </span>
                    </div>
                </form>
                <!-- end: SEARCH FORM -->
            </div>
        </div>
        <!-- end: SEARCH POPOVER -->
    </li>
    </ul>
    </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    </header>
    <!-- end: HEADER -->
