<extend name="Base/indexcommon"/>
<block name="_body">
    <div class="wrap">
    	<div class="content" style="min-height:400px">
            <div class="job-end job-v2-boxshadow" style="*zoom:1;">
            <h2 class="job-end-title">
                PHP开发工程师
            </h2>
            <p class="job-end-tip">
               <span>发布于2014-05-10</span>
            </p>
            <ul class="job-info-kind1">
                <li><span>工作城市：</span>
                    <strong>
                        深圳            </strong>
                </li>
               <li>
                    <span>工作经验：</span>
                    <strong>
                        2年及以上
                    </strong>
                </li>
            </ul>
            <ul class="job-info-kind2">
                <li><span>所属行业：</span>
                    <strong>
                        互联网            </strong>
                </li>
                <li><span>职位类别：</span>
                    <strong>
                        技术研发            </strong>
                </li>
                <li><span>公司性质：</span>
                    <strong>
                        私营·股份制企业
                    </strong>
                </li>
                <li><span>招聘人数：</span>
                    <strong>
                        2人
                    </strong>
                </li>
            </ul>
            <div id="" class="job-end-info">
                <p>
                    工作职责：
                    <br>负责互联网海量用户社区的建设和开发工作；
                    <br>参与系统的需求分析、设计、编码等开发工作；
                    <br>负责相关系统的运营和维护工作，保证系统稳定可靠运行。
                    <br>
                    <br>工作要求：
                    <br>计算机或相关专业本科或以上学历；
                    <br>两年以上PHP开发经验，能够独立编写中等规模PHP应用程序；
                    <br>精通PHP+MYSQL编程，熟练使用thinkphp、ci等至少一种开发框架，熟悉Javascrīpt/Ajax以及sql编写；
                    <br>有开源CMS、SNS、电商系统开发经验者优先。
                    <br>了解Linux操作系统，了解Linux下简单编程，精通php的面向对象编程，精通php的模板编程；
                    <br>熟悉MYSQL数据库开发，配置、维护、性能优化；
                    <br>具有MySQL索引优化、查询优化和存储优化方面的经验。
                    <br>必须拥有良好的代码习惯，要求结构清晰，命名规范，逻辑性强，代码冗余率低；
                    <br>熟练应用Subversion进行协作开发，有撰写设计文档的习惯，有团队开发经验；
                    <br>熟悉XHTML、XML、JSON；
                    <br>热爱开发工作，团队合作意识良好。        </p>

            </div>


            </div>
            <div class="job-end job-v2-boxshadow" style="*zoom:1;">
                <h2 class="job-end-title">
                    Web开发工程师
                </h2>
                <p class="job-end-tip">
                    <span>发布于2014-05-10</span>
                </p>
                <ul class="job-info-kind1">
                    <li><span>工作城市：</span>
                        <strong>
                            深圳            </strong>
                    </li>
                    <li>
                        <span>工作经验：</span>
                        <strong>
                            2年及以上
                        </strong>
                    </li>
                </ul>
                <ul class="job-info-kind2">
                    <li><span>所属行业：</span>
                        <strong>
                            互联网            </strong>
                    </li>
                    <li><span>职位类别：</span>
                        <strong>
                            技术研发            </strong>
                    </li>
                    <li><span>公司性质：</span>
                        <strong>
                            私营·股份制企业
                        </strong>
                    </li>
                    <li><span>招聘人数：</span>
                        <strong>
                            2人
                        </strong>
                    </li>
                </ul>
                <div id="" class="job-end-info">
                    <p>
                        工作职责：
                        <br>负责产品整体的美术设计，创意工作及页面实现；
                        <br>负责产品相关的用户交互与界面视觉设计实现工作；
                        <br>优化设计，提高产品的可用性。
                        <br>
                        <br>工作要求：
                        <br>美术相关专业；
                        <br>从事网站设计工作1年以上，具有大型网站工作设计经验；
                        <br>富于创新、思维活跃，对先进的网页设计理念和技术有较强的理解能力；
                        <br>有丰富的设计理论知识和对流行趋势敏锐的洞察力；
                        <br>能够熟练使用Adobe系列、Flash、Illustrator等软件，熟练掌握html、CSS、JS等前端开发技术；
                        <br>有良好的沟通能力和团队协作精神，能承受较大的工作压力，应聘需提供相关作品。 </p>

                </div>
            </div>
            <h5>简历投递</h5>
            <p>email:&nbsp;hr@uctoo.com</p>
            <p>官方QQ群:&nbsp;102324323</p>
		</div>
    </div>
</block>