<block name="uheader"></block>
<div id="main-container" class="main-container">
        <block name="side">
            <div class="navbar-content">
                <!-- start: SIDEBAR -->
                <div class="main-navigation navbar-collapse collapse">
                    <!-- start: MAIN MENU TOGGLER BUTTON -->
                    <div class="navigation-toggler">
                        <i class="clip-chevron-left"></i>
                        <i class="clip-chevron-right"></i>
                    </div>
                    <!-- end: MAIN MENU TOGGLER BUTTON -->

                <php>
                    $m = strtolower(MODULE_NAME);
                    $c = strtolower(CONTROLLER_NAME);
                    $a = strtolower(ACTION_NAME);

                    $ad = ucfirst ( parse_name ( $_REQUEST['_addons'], 1 ) );
                    $navClass[$ad] = 'active';
                    $navClass[$m.'_'.$c.'_'.$a] = 'active';
                    $addonList = D ( 'Addons' )->getWeixinList ();
                </php>
                    <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu">

                    <li class="active open">
                        <a href="{:U('Home/Index/main')}">
                            <i class="clip-home-3"></i>
                            <span class="title">  功能设置  </span><span class="selected"></span>
                        </a>
                    </li>
                    <li>
                         <a href="{:U('Home/MemberPublic/lists')}">
                             <i class="clip-cog-2"></i>
                             <span class="title"> 公众号管理 </span>

                         </a>
                    </li>
                    <volist name='addonList' id='vo'>
                        <li class="{$navClass[$vo[name]]}"> <a href="{$vo[addons_url]}" title="{$vo.description}">
                            <i class="icon-chevron-right"><php>if(!empty($vo['icon'])) { </php> <img src="{$vo.icon}" /> <php> } </php> </i>
                            {$vo.title} </a> </li>
                    </volist>
                </ul>
            </div>
            </div>
        </block>
        <block name="ubody"></block>
</div>
