<title>{:C('WEB_SITE_TITLE')}</title>
<!-- start: META -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="UCToo 开源微信公众平台开发框架微信功能插件化开发,多公众号管理,配置简单" name="description" />
<meta content="遵循Apache2开源协议,免费提供使用,微信功能插件化开发,多公众号管理,配置简单" name="keywords"/>
<meta content="UCToo" name="author" />
<!-- end: META -->
<!-- start: MAIN CSS -->
<link rel="stylesheet" href="__STATIC__/uctoo/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/uctoo/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/uctoo/fonts/style.css">
<link rel="stylesheet" href="__STATIC__/uchome/css/main.css">
<link rel="stylesheet" href="__STATIC__/uchome/css/main-responsive.css">
<link rel="stylesheet" href="__STATIC__/uchome/plugins/iCheck/skins/all.css">
<link rel="stylesheet" href="__STATIC__/uchome/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
<link rel="stylesheet" href="__STATIC__/uchome/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
<link rel="stylesheet" href="__STATIC__/uchome/css/theme_light.css" type="text/css" id="skin_color">
<link rel="stylesheet" href="__STATIC__/uchome/css/print.css" type="text/css" media="print"/>
<!--[if IE 7]>
<link rel="stylesheet" href="__STATIC__/uctoo/plugins/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->
<!-- end: MAIN CSS -->
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<link rel="stylesheet" href="__STATIC__/uchome/plugins/fullcalendar/fullcalendar/fullcalendar.css">
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<link rel="shortcut icon" href="{:SITE_URL}/favicon.ico" />

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
