<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>
	<include file="Shop/headpro"/>
</head>
<body>
	<div id="frame_">
	<div id="layout" class="full shop_page">
	<!-- 头部 -->
	<include file="Shop/header"/>
	<!-- /头部 -->
	<!--主体顶部-->
	<include file="Shop/top" />
	<!--/主体顶部-->
	<!-- 主体 -->
	<include file="Shop/body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Shop/footerpro"/>
	<!-- /底部 -->
	</div><!-- end layout -->
	</div><!-- end frame -->

<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
<div id="shopdialog"></div>
<!-- Scripts -->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/theme20.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.nicescroll.min.js"></script>

    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/gmap3.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/twitter/jquery.tweet.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/custom.js"></script>
<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/mall.js"></script>
<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/main.js"></script>

</body>
</html>