<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>
	<title>{$shop_title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Seo Meta -->
		<meta name="description" content="uctoo">
		<meta name="keywords" content="official, corporate, light, dark, multi purpose, shop, magazine, premium">

	<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/bootstrap/css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/styles/icons.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/styles/animate.css" media="screen" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/styles/shop.css" media="screen" /><!-- Shop CSS -->
		<link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/styles/responsive.css" media="screen" />
        <!--daley:add:底部文件-->
        <link rel="stylesheet" type="text/css" href="__STATIC__/uctoo/plugins/shop/styles/footer.css" media="screen" />
		<!--<link href='http://fonts.useso.com/css?family=Marcellus' rel='stylesheet' type='text/css'>-->

	<!-- Favicon -->
		<link rel="shortcut icon" href="{:SITE_URL}/favicon.ico">
		<link rel="apple-touch-icon" href="__STATIC__/uctoo/plugins/shop/images/apple-touch-icon.png">

	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EmulateIE8; IE=EDGE" />
        <script src="__STATIC__/uctoo/plugins/html5shiv.js"></script>
		<script language="javascript" type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/excanvas.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="frame_">
	<div id="layout" class="full shop_page">
		<header id="header">
			<div class="extrabox">
				<div class="row clearfix">
					<div class="extra-content">
						<!-- grid 8 -->

						<div class="grid_4">
							<h3 class="col-title"> Quick Contact </h3><span class="liner"></span>
							<div class="widget-content">
								<form method="post" id="contactForm-widget" action="processForm.php">
									<div class="clearfix">
										<div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName" placeholder="Name *" class="requiredField" /></div>
										<div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail" placeholder="Email Address *" class="requiredField email" /></div>
									</div>
									<div><textarea name="message" id="message" placeholder="Message *" class="requiredField" rows="6"></textarea></div>
									<input type="submit" id="sendMessage" name="sendMessage" value="Send Email" />
									<span>  </span>
								</form><!-- end form -->
							</div><!-- widget content -->
						</div><!-- grid 4 -->
					</div><!-- extra content -->
					<!--daley:add:隐藏-->
					<div class="arrow-down" style="display:none"><i class="icon-angle-down"></i></div><!-- arrow down -->
				</div><!-- end row -->
			</div>	<!-- end extrabox -->

			<div class="head">
				<div class="row clearfix">
					<div class="logo">
						<a href="{:SITE_URL}" title="UCToo HTML5 Template"><img src="__STATIC__/uctoo/images/logo.png" alt="UCToo HTML5 Template"></a>
					</div><!-- end logo -->


					<div class="shopping_bag">
						<div class="header_bag">
							<a href="shop-shopping-bag.html"><i class="icon-shopping-cart mid"></i><span>3</span></a>
						</div>
					
						<div class="view_cart_mini">
							<div class="view_cart">
								<ul class="cart_list">
									<li class="clearfix">
										<a href="shop-single-product.html"><img class="fll" width="50" src="__STATIC__/uctoo/plugins/shop/images/products/bag1.jpg" alt="#"></a>
										<div class="cart_list_product_title">
											<a href="shop-single-product.html">109F SOLID WOMEN'S TOP</a>
											<div class="cart_list_product_quantity">数量: 2</div>
										</div>
										<div class="price_remover">
											<a href="#" class="remove" title="Remove this item">×</a>
											<span class="amount">¥110.00</span>
										</div>
									</li>
									<li class="clearfix">
										<a href="shop-single-product.html"><img class="fll" width="50" src="__STATIC__/uctoo/plugins/shop/images/products/bag2.jpg" alt="#"></a>
										<div class="cart_list_product_title">
											<a href="shop-single-product.html">NECK PRINTED MEN'S T-SHIRT</a>
											<div class="cart_list_product_quantity">数量: 1</div>
										</div>
										<div class="price_remover">
											<a href="#" class="remove" title="Remove this item">×</a>
											<span class="amount">¥55.00</span>
										</div>
									</li>
						                        </ul>
					
								<span class="total_checkout fll">总额</span>
								<span class="amount_total flr">¥275.00</span>
								<div class="tac">
									<a href="/index.php?s=/Home/Index/shopcart.html" class="tbutton mt medium"><span style="width:122px">查看购物车</span></a>   
									<a href="#" class="tbutton mt medium color2"><span style="width:154px"><i class="icon-credit-card mid"></i>选好，去结账</span></a>
								</div>
							</div>
						</div>
					</div><!-- end Shopping Cart -->

					<!--daley:bak:<div class="social social-head">
						<a href="#" class="toptip" title="Linkedin"><i class="icon-linkedin"></i></a>
						<a href="#" class="toptip" title="Github"><i class="icon-github"></i></a>
						<a href="#" class="toptip" title="Dribbble"><i class="icon-dribbble"></i></a>
						<a href="#" class="toptip" title="instagram"><i class="icon-instagram"></i></a>
						<a href="#" class="toptip" title="Google Plus"><i class="icon-google-plus"></i></a>
						<a href="#" class="toptip" title="Facebook"><i class="icon-facebook"></i></a>
						<a href="#" class="toptip" title="Twitter"><i class="icon-twitter"></i></a>
					</div>--><!-- end social -->

					<div class="info">
						<span><i class="icon-envelope-alt"></i> contact@uctoo.com</span>
						<span><i class="icon-phone"></i>  UCToo官方QQ交流群: 102324323 </span>
					</div><!-- end info -->
				</div><!-- row -->
			</div><!-- head -->

			<div class="headdown">
				<div class="row clearfix">
					<nav>
						<ul class="sf-menu">
							<li><a href="{:SITE_URL}">首页</a>
							</li>
							<li class="current selectedLava"><a href="{:U('shopsidebar')}">商城</a>
								<ul>
									<li><a href="{:U('shoppdlist')}">产品列表</a></li>
									<li class="current"><a href="{:U('shopsidebar')}">列表页侧边栏</a></li>
									<li><a href="{:U('shopproduct')}">产品详情</a></li>
									<li><a href="{:U('shopcart')}">购物车</a></li>
									<li><a href="{:U('shoppay')}">支付</a></li>
								</ul>
							</li>
						</ul><!-- end menu -->
					</nav><!-- end nav -->

					<div class="search">
						<form action="search.html" id="search" method="get">
							<input id="inputhead" name="search" type="text" onfocus="if (this.value=='搜索商品...') this.value = '';" onblur="if (this.value=='') this.value = '搜索商品...';" value="搜索商品..." placeholder="搜索商品 ...">
							<button type="submit"><i class="icon-search"></i></button>
						</form><!-- end form -->
					</div><!-- search -->
				</div><!-- row -->
			</div><!-- headdown -->
		</header><!-- end header -->

		<div class="breadcrumb-place">
			<div class="row clearfix">
				<h3 class="page-title"> {$shop_title} </h3>
				<div class="breadcrumbIn">
					<span> 您在这里: </span>
					<ul>
						<li><a href="/" title="Homepage"> <i class="icon-home"></i> </a></li>
						<li> {$shop_title} </li>
					</ul>
				</div><!-- breadcrumbIn -->
			</div><!-- row -->
		</div><!-- breadcrumb -->

		<div class="page-content">
			<!--daley:主体内容--> 
            <include file="body"/>
            <!-- row -->
		</div><!-- end page content -->

		
			<!-- row -->

			<include file="_footer"/>

		<!-- end footer -->

	</div><!-- end layout -->
	</div><!-- end frame -->

<div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
<!-- Scripts -->
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/theme20.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/gmap3.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/twitter/jquery.tweet.js"></script>
	<script type="text/javascript" src="__STATIC__/uctoo/plugins/shop/js/custom.js"></script>
</body>
</html>