<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商家列表</title>
    <link rel="stylesheet" href="__STATIC__/uctoo/plugins/framework7/f7/css/framework7.min.css">
    <link rel="stylesheet" href="__STATIC__/uctoo/plugins/framework7/f7/css/my-app.css">
</head>
<body>
    <div class="statusbar-overlay"></div>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding">品牌导购</div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div class="page whitebg">
                    <div class="page-content">
                       <!-- <div class="warp-sjlb">
                            <div class="row type">
                                <a href="#" class="right">+</a>
                                <a href="#">男 装</a>
                                <a href="#">女 装</a>
                                <a href="#">休 闲</a>
                                <a href="#">餐 饮</a>
                                <a href="#">娱 乐</a>
                                <a href="#">化妆品</a>
                            </div>
                        </div>
                        -->
                        <volist name="issueData" id="vo">
                            <div class="warp-tjsj warp-type">
                                <h3 class="blue">{$vo.title}</h3>
                                <div class="row no-gutter">
                                <volist name="brands" id="vv" mod="3" >

                                    <if condition="$vo['id'] eq $vv['issue_id']">
                                    <div class="col-33">
                                        <a href="/Sns/index.php?s=/Issue/Index/issueContentDetail/id/{$vv.id}.html"  class="external">
                                            <img alt="logo" src="/Sns/Uploads/Avatar/{$vv.path}" />
                                            {$vv.title}
                                        </a>
                                    </div>

                                    </if>

                                </volist>
                            </div>
                            </div>
                        </volist>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/framework7/f7/js/framework7.min.js"></script>
    <script type="text/javascript" src="__STATIC__/uctoo/plugins/framework7/f7/js/my-app.js"></script>
</body>
</html> 