<extend name="Base/shop"/>
<block name="body">
<div class="page-content" style="margin-bottom:0">
    <div class="row products official-shop clearfix" style="margin-bottom:0"><!--daley:bak:class的mbs-->
    	<if condition="$cue neq ''">
        <div class="clearfix mb" style="color:#F00;text-align:center;font-size:16px">{$cue}</div>
        <else />
		
        <div class="clearfix mb">
            <div class="grid_6">
                <div class="product_256 flexslider">
                    <ul class="slides">
                        <li><a href="/index.php?s=/Home/Index/shopsidebar/id/{$id}.html"><img src="{$shopInfo.path}" /></a></li>
                    </ul>
                </div>
            </div>

            <div class="grid_6">                
                <h3>{$shopInfo.title}</h3>
                <div style="font-size:14px;padding:12px 2px">
                  {$shopInfo.intro}
                  <br /><br />
                  客服：{$shopInfo.kfname}
                  <br /><br />
                  <div class="variations_button"><button class="tbutton medium" type="botton" onclick="window.location='/index.php?s=/Home/Index/shopsidebar/id/{$id}.html'"><span>查看商店商品</span></button></div>
                  <div style="clear:both"></div>
                </div>


            </div>
        </div>
        
        </if>        
    </div>
</div><!-- end page content -->
</block>