<extend name="Base/shop"/>
<block name="body">
	<div class="page-content">
	<div class="row official-shop clearfix mbs">

		<div class="grid_9">
			<div class="woo-title">
				<h3 class="col-title"> 商品展示 <small>共 {$page.allpage} 页，{$page.allnum} 件</small></h3><span class="liner mbt"></span>
				
				<div class="filter_wrapper">
					<form class="woocommerce-ordering" method="post" action="" name="orderform">
						<input type="hidden" name="amount" value="{$amount}" /><!--daley:2014.06.30:add:style-->
						<select name="orderby" class="orderby hasCustomSelect" onchange="orderform.submit();" style="padding-top:10px">
							<option value="paixu asc" <eq name="orderby" value="paixu asc">selected="selected"</eq>>默认排序</option>
							<option value="id desc" <eq name="orderby" value="id desc">selected="selected"</eq>>按时间排序</option>
							<option value="price asc" <eq name="orderby" value="price asc">selected="selected"</eq>>按价格排序：从低到高</option>
							<option value="price desc" <eq name="orderby" value="price desc">selected="selected"</eq>>按价格排序：从高到低</option>
						</select>
					</form>
				</div>
			</div><!-- woo title -->

			<div id="masonry-container" class="mbt three-column transitions-enabled centered clearfix">
				<ul class="products">
                	<if condition="$Products neq ''">
					<foreach name="Products" item="goods">
					<li class="grid_4">
						<div class="product-content">
							<div class="product-img">
								<div class="product_1 flexslider">
									<ul class="slides">
										<li><a href="{$goods.url}"><img src="{$goods.icon}" alt="" width="215" height="215" /></a></li>
										<!--<li><a href="{$goods.url}"><img src="{$goods.icon}" alt="" width="215" height="215" /></a></li>
										<li><a href="{$goods.url}"><img src="{$goods.icon}" alt="" width="215" height="215" /></a></li>-->
									</ul>
								</div>
							</div>
							<a href="{$goods.url}" class="add-to"><i class="icon-shopping-cart mi"></i> 查看商品详情 </a> <!--onclick="addcart({$goods.id},$('#buyshop').val());"-->
						</div><!-- product content -->

						<h5> <a href="{$goods.url}">{$goods.name}</a> </h5>
						<span class="price"><span class="from">售价: </span> <strong>  ￥{$goods.price} </strong></span>
                        <div id="pro_attr_div_{$goods.id}" pro_id="{$goods.id}" style="display:none"><foreach name="goods.attrs1" item="v">
                          <span style="float:left; line-height:24px">{$v[0].name}：</span>
                          <div name="{$v[0].name}">
                          <foreach name="v" item="vv">
                          <span class="pro_attr" title="{$vv.desc}" path="{$vv.path}" price="{$vv.price}" onclick="pro_attr_click(this,0)" onmouseover="pro_attr_mouseover(this)" onmouseout="pro_attr_mouseout(this)" slt="0" attr_id="{$vv.id}">{$vv.value}</span>
                          </foreach>
                          </div>
                          <span style="display:block; clear:both; height:16px"></span>
                        </foreach></div>
					</li><!-- product -->
					</foreach>
                    <else />
                    暂无商品。
                    </if>
                    <!--<del><span class="amount">￥{$goods.price}</span></del>-->


				</ul><!-- products -->
			</div><!-- masonry -->

			<div class="pagination-tt clearfix" id="page">
				<ul>
					<foreach name="page.show" key="k" item="p">
					<if condition="$k+1 eq $page['now']">
					<li><span>{$k+1}</span></li>
					<else />
					<li><a href="{$p}">{$k+1}</a></li>
					</if>
					</foreach>
					<notempty name="page.lastpage">
					<li><span>...</span></li>
					<li><a href="{$page.lastpage}">{$page.allpage}</a></li>
					</notempty>
				</ul>
				<span class="pages">第 {$page.now}/{$page.allpage} 页</span>
			</div>
			<script type="text/javascript">
			$("#page a").click(function(){
				$("form[name='orderform']").attr('action',$(this).attr('href')).submit();
				return false;
			});
			</script>
		</div><!-- grid9 -->

		<div class="grid_3">
			<div class="widget clearfix">
				<h3 class="col-title"> 价格筛选 </h3><span class="liner"></span>
				<form action="{:U('')}" method="post" id="amountForm">
					<div id="price-range" class="mb mtt"></div>	
					<p><input type="text" id="amount" name="amount" value="{$amount}"  /><input type="submit" id="filter_button" name="submit" value="筛选"></p>
				</form>
			</div><!-- widget -->
			<script type="text/javascript">
			$("#amountForm").submit(function(){
				$("form[name='orderform'] [name='amount']").val(this.amount.value);
				$("form[name='orderform']").submit();
				return false;
			});
			</script>

			<div class="widget clearfix">
				<h3 class="col-title"> 特色推荐 </h3><span class="liner"></span>
				<ul class="list_product_widget">
					<foreach name="featured" item="f">
					<li class="clearfix"><!--daley:2014.06.30:style="width:50px" for IE9-->
						<a href="{$f.url}" title="{$f.name}"><img width="50" style="width:50px" src="{$f.icon}" class="fll" />{$f.name}</a> 
						<span class="amount">{$f.price}</span>
					</li>
					</foreach>
					
				</ul>
			</div><!-- widget -->
			<foreach name="Categorys" item="nav">
			<div class="widget clearfix">
				<h3 class="col-title"> 商品分类<!--{$nav.name}--> </h3><span class="liner"></span>
				<ul class="list">
					<foreach name="nav.cate" item="c">
					<li><a href="{$c.url}"><i class="icon-caret-right"></i> {$c.name} </a></li>
					</foreach>
				</ul>
			</div><!-- widget -->
			</foreach>
		</div><!-- grid3 -->

	</div><!-- row -->
	<script>
			$(function(){
				var $masonrytt = $('#masonry-container');
				$masonrytt.imagesLoaded( function(){
					$masonrytt.masonry({
						itemSelector: '[class^="grid_"]',
						isAnimated: true,
						columnWidth: 1
					});
				});
			});
			$(function() {
				$( "#price-range" ).slider({
					range: true,
					min: 0,
					max: 3000,
					//daley:2014.06.30:bak:values: [ 15, 1900 ],
					values: [{$price_min},{$price_max}],
					slide: function( event, ui ) {
						$("#amount").val("￥" + ui.values[0] + " - ￥" + ui.values[1]);
					}
				});
				$("#amount").val("￥" + $("#price-range").slider("values", 0) +" - ￥" + $("#price-range").slider("values", 1 ));
			});
	</script>
</div><!-- end page content -->
</block>
