/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }



/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}
html, body {
    width: 100%;
    overflow: hidden;
    background: none repeat scroll 0% 0% #ffffff;
}

#wrap {
    width: 100%;
	margin-top:44px;
}
.container {
    position: relative;
    transform-origin: 50% 100% 0px;
    transform: translateY(0px);
    transition: transform 0.8s ease 0s;
}

.main{ width:100%;}

.top_menu{ width:100%; position:fixed; height:44px; background:#4ed5ce; z-index:99999; }
.logo{ display:block; width:50%; margin:auto;  background:url(../images/logo.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/logo.png*/ no-repeat center; height:32px; margin-top:6px; background-size:auto 100%;}
.member{ background:url(../images/ico_member.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_member.png*/ no-repeat; display:block; position:absolute; right:15px; top:10px; width:24px; height:24px; background-size:99% auto;}
 
 .hdbanner{ width:100%;
 position:relative;
 
height:106px;
 
 
}


.swipe {
	width: 100%;
	height: 106px;
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	width: 100%;
	height: 155px;
	overflow: hidden;
	position: relative;
}

.swipe-wrap>figure {
	margin: 0px;
	float: left;
	width: 100%;
	height: 106px;
	position: relative;
}



#slider {
	margin-top: 0px;
}

#slider figure {
	display: block;
}

#slider figure div.wrap {
	display: block;
	height: 106px;
	margin: 0px;
	position: relative;
}

#slider figure div.image {
	//border-radius: 5px 5px 5px 5px;
	//box-shadow: 0 1px 5px rgba(0, 0, 0, 0.85), 0 0 1px
		//rgba(255, 255, 255, 0.35) inset;
	display: block;
	width: 100%;
	height:106px;
	overflow:hidden;
	
	margin: 0;
 
}


#position {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#position li {
	 
	 
 
	 
	cursor: pointer;
	display: inline-block;
	height: 7px;
	margin: 0 2px;
	width: 7px;
	border:1px solid #FFF;
	border-radius: 15px 15px 15px 15px; 
}

#position li.on {
	border:1px solid #FFF;
	border-radius: 15px 15px 15px 15px;
	background-color:#FFF;
	 
}

#position li.non {
	background: none repeat scroll 0 0 #cccccc;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 1px 3px #cccccc inset, 0 0 1px 1px #cccccc;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 0 2px;
	width: 15px;
}
nav {
    display: block;
    margin: -25px auto 0px;
    position: relative;
}

#position {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.home_menu{ width:100%; background:#ededed; height:93px; padding-top:6px;}
.home_menu_ul{ width:95%; margin:auto; height:84px;} 
.home_menu_ul li{ width:20%; height:84px; float:left; text-align:center;}
.home_menu_ul li span{ display:block; width:56px; height:56px; margin:auto; margin-bottom:6px;}
.ico_me{ background:url(../images/ico_me.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_me.jpg*/ no-repeat center; background-size:auto 100%;}
.ico_zxhd{ background:url(../images/ico_zxhd.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_zxhd.jpg*/ no-repeat center; background-size:auto 100%;}
.ico_yhq{ background:url(../images/ico_yhq.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_yhq.jpg*/ no-repeat center; background-size:auto 100%;}
.ico_kdy{ background:url(../images/ico_kdy.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_kdy.jpg*/ no-repeat center; background-size:auto 100%;}
.ico_zsh{ background:url(../images/ico_zsh.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_zsh.jpg*/ no-repeat center; background-size:auto 100%;}
.home_menu_ul li a{ text-decoration:none; font-size:14px; color:#888888;}
.home_list{ margin:auto; width:95%; padding-bottom:63px;}
.home_list ul{ width:100%;}
.home_list ul li{ width:100%; border-bottom:1px solid #dedede; height:73px; padding:9px 0px; position:relative;}
.home_list ul li a{ display:block; width:100%; height:100%; text-decoration:none;}
.home_list li .pic{ width:54px; height:54px;
position:absolute;
top:9px;
   -moz-border-radius: 4px;      /* Gecko browsers */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius:4px;            /* W3C syntax */
	 }
.home_list li .info{ padding-left:65px;}
.home_list li h4{ color:#000; font-weight:bold; font-size:16px; padding:5px 0px;}
.home_list li p{ font-size:13px; background:url(../images/ico_time.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_time.jpg*/ no-repeat 0px 3px; background-size:auto 12px; color:#767676; text-indent:1.5em;}
.bottom_menu{ z-index:99999999; height:44px; position:fixed; left:0px; bottom:0px; width:100%; background:#0080cc;}
.bottom_menu ul{ width:100%; margin:auto;}
.bottom_menu li{ width:25%; height:44px; text-align:center; float:left; line-height:24px;}
.bottom_menu li a{ color:#FFF; font-size:12px;   display:block; width:100%; height:100%; text-decoration:none;}
.bmico{ display:block; width:100%; height:18px; margin:auto;margin-top:4px; }
.bmico1{ background:url(../images/bm_ico1.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/bm_ico1.png*/ no-repeat center; background-size:auto 100%;}
.bmico2{ background:url(../images/bm_ico2.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/bm_ico2.png*/ no-repeat center; background-size:auto 100%;}
.bmico3{ background:url(../images/bm_ico3.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/bm_ico3.png*/ no-repeat center; background-size:auto 100%;}
.bmico4{ background:url(../images/bm_ico4.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/bm_ico4.png*/ no-repeat center; background-size:auto 100%;}

.zxyh_menu{ width:100%; border-bottom:1px solid #dedede; height:40px;}
.zxyh_menu_ul{ width:99%; height:40px;}
.zxyh_menu_ul li{ width:33%; float:left; height:40px; line-height:40px; text-align:center; color:#000000; font-size:14px; text-decoration:none;}
.zxyh_menu_ul2 li{ width:50%; float:left; height:40px; line-height:40px; text-align:center; color:#000000; font-size:14px; text-decoration:none;}
.zxyh_menu_ul li a{color:#000000; font-size:14px; text-decoration:none; display:block; width:100%; height:100%;}
.zxyh_menu_ul li a.on{ color:#e12011; border-bottom:2px #e12011 solid;}

.zxyh_list{ margin:auto; position:relative; width:96%; padding-bottom:60px; }
.zxyh_list ul{ width:100%; position:relative;display:none;   }
.zxyh_list ul li{ width:100%; background:url(../images/zxyh_bg.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/zxyh_bg.jpg*/ repeat-x; background-size:auto 100%; margin-top:10px; height:86.5px; padding:0px 0px; position:relative; padding:2px 0px;}
.zxyh_list ul li a{ border:1px solid #d5d4d5; border-top:0px; border-bottom:0px; height:100%;   display:block; width:100%;  text-decoration:none;}
.zxyh_list li .pic{ width:75px; height:65px;
position:absolute;
top:11px;
left:10px;
  
	 }
	 .yhinfo{ padding:7px 0 0 0; width:89%; height:22px;}
	 .yhinfo_time{ float:left; width:50%; text-align:left; color:#fa8100; font-size:12px;}
	 .yhinfo_num{ float:right; width:50%; text-align:right; color:#999999; font-size:12px;}
.zxyh_list li .info{ padding-left:95px;}
.zxyh_list li h4{ color:#000; height:38px;  font-size:13px; padding:2px 0px 2px 0;}
.zxyh_list li p{ font-size:13px; background:url(../images/ico_dz.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_dz.jpg*/ no-repeat 0px 1px; background-size:auto 14px; color:#767676; text-indent:1.5em;}
.zxyh_list ul li a.yhtel{ display:block; background:url(../images/ico_tel2.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_tel2.jpg*/ no-repeat; width:17px; height:17px; background-size:100% auto; position:absolute; z-index:9999; right:14px; bottom:8px; border:0px;}

.zxyh_list ul.lon{
	display:block;
animation-delay: 0s;
animation-duration: 1.0s;
animation-fill-mode: both;
animation-name: showlist;
-webkit-animation-delay: 0s;
-webkit-animation-duration: 1.0s;
-webkit-animation-fill-mode: both;
-webkit-animation-name: showlist;
}

@-moz-keyframes showlist {
 0% {
    opacity: 0;
	display:block;
	 
	 
	    -webkit-transform: translateX(910px);
		-ms-transform: translateX(910px);
    transform: translateX(910px); 
    
  }

  
  

  100% {
	    opacity: 1;
	 display:block;
	   -webkit-transform: translateX(0px);
	   -ms-transform: translateX(0px);
     transform: translateX(0px);
  
  }
}
@-webkit-keyframes showlist {
 0% {
    opacity: 0;
	display:block;
	 
	 
	    -webkit-transform: translateX(910px);
		-ms-transform: translateX(910px);
    transform: translateX(910px); 
    
  }

  
  

  100% {
	    opacity: 1;
	 display:block;
	   -webkit-transform: translateX(0px);
	   -ms-transform: translateX(0px);
     transform: translateX(0px);
  
  }
}	
.zxyh_list ul.ron{
	 
animation-delay: 0s;
animation-duration: 1.0s;
animation-fill-mode: both;
animation-name: hidelist;
-webkit-animation-delay: 0s;
-webkit-animation-duration: 1.0s;
-webkit-animation-fill-mode: both;
-webkit-animation-name: hidelist;
}

@-moz-keyframes hidelist {
 0% {
    opacity: 1;
	 
	    -webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
    transform: translateX(0px); 
	 
    
  }

  
  

  100% {
	    opacity: 1;
			    -webkit-transform: translateX(-910px);
		-ms-transform: translateX(-910px);
    transform: translateX(-910px); 
  
  }
}


@-webkit-keyframes hidelist {
 0% {
    opacity: 1;
	 
	    -webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
    transform: translateX(0px); 
	 
    
  }

  
  

  100% {
	    opacity: 1;
			    -webkit-transform: translateX(-910px);
		-ms-transform: translateX(-910px);
    transform: translateX(-910px); 
  
  }
}

.member_top{ position:relative; background:url(../images/member_top_bg.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/member_top_bg.jpg*/ no-repeat; height:77px; width:100%; background-size:cover;}
.map_info{ background: rgba(0,0,0,0.5);  display:block; position:absolute; width:100%; height:40px; line-height:40px; color:#FFF; text-align:center; left:0px; bottom:0px;}
.gofx{ display:block; background:url(../images/fx.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/fx.png*/ no-repeat; position:absolute; right:15px; top:25px; width:14px; height:22px; background-size:100% auto;}
.username{ font-size:16px; color:#000; position:absolute; left:20px; top:15px; font-weight:bold;}
.userjf{ font-size:12px; position:absolute; left:20px; top:40px;}
.dj{ display:block; background:url(../images/member_layer.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/member_layer.jpg*/; width:12px; height:12px; background-size:cover; position:absolute; right:-15px; top:5px;}
.member_info{ background:url(../images/member_info.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/member_info.jpg*/ center repeat-x; height:63px; background-size: auto 100%; width:100%;}
.member_info ul li{ width:50%; float:left; height:63px;}
.ico_jf{ background:url(../images/ico_jf.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_jf.jpg*/ no-repeat 16px 10px; background-size:auto 39px;}
.hd_content{ padding:10px;}	
.ico_jfph{ background:url(../images/ico_jfph.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_jfph.jpg*/ no-repeat 16px 10px; background-size:auto 39px;}
.shoi{ font-size:16px; padding:10px 0 0 70px; color:#000; font-weight:bold;}
.shof{ font-size:16px;padding:1px 0 0 70px; color:#979797;}
.dxrk{ margin:auto; width:95%; background-color:#FFF;  margin-top:17px;
 -moz-border-radius: 6px;      /* Gecko browsers */
    -webkit-border-radius: 6px;   /* Webkit browsers */
    border-radius:6px;            /* W3C syntax */
	 
	box-shadow: 0 2px  1px rgba(207, 205, 202, 0.75), 0 0 0 0;
}
.dxrk li{ position:relative; height:43px; line-height:43px; background:url(../images/listico.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/listico.jpg*/ no-repeat 97% center; background-size:auto 17px;}
.dxrk li.nico{ background:none;}
.dxrk li.hico{ background:url(../images/hdjt.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/hdjt.jpg*/ no-repeat 97% 12px; background-size:auto 50%}
.dxrk li.hicoh{ background:url(../images/hdjth.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/hdjth.jpg*/ no-repeat 97% 12px; background-size:auto 50%}
.dxrk li a{ text-indent:2.5em; display:block; width:100%; height:100%; color:#45392f; font-size:14px; text-decoration:none;}
.lbx{ border-bottom:1px solid #e5e5e5;}
.dxrk_num{ right:30px; height:43px; line-height:43px; top:0px; position:absolute; display:block; color:#c5c5c5; font-size:14px;}
.dxhei{ color:#000;}
.dxrknew li.dxhei{ color:#000;}
.ico_m{ display:block; width:20px; height:43px;}
.ico_h{ display:block; width:22px; height:43px;}
.ico_m_ico1{ background:url(../images/ico_m_ico1.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_m_ico1.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_hd_ico1{ background:url(../images/ico_hd_ico1.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_hd_ico1.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_hd_ico2{ background:url(../images/ico_hd_ico2.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_hd_ico2.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_hd_ico3{ background:url(../images/ico_hd_ico3.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_hd_ico3.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_hd_ico4{ background:url(../images/ico_hd_ico4.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_hd_ico4.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_hd_ico5{ background:url(../images/ico_hd_ico5.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_hd_ico5.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }

.ico_m_ico2{ background:url(../images/ico_m_ico2.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_m_ico2.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_m_ico3{ background:url(../images/ico_m_ico3.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_m_ico3.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.ico_m_ico4{ background:url(../images/ico_m_ico4.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_m_ico4.jpg*/ center; background-size:100% auto;background-repeat:no-repeat; position:absolute; left:10px; top:0px; }
.bt_qd{ width:95%; margin:auto; height:43px; line-height:43px; background:#ff7400;

 -moz-border-radius: 6px;      /* Gecko browsers */
    -webkit-border-radius: 6px;   /* Webkit browsers */
    border-radius:6px;            /* W3C syntax */
	 
	box-shadow: 0 2px  1px rgba(207, 205, 202, 0.75), 0 0 0 0;
	margin-top:20px; display:block; font-size:16px; color:#FFF; text-align:center; text-decoration:none; font-weight:bold;}
	.bt_hqyhq{ width:60%; margin:auto; height:43px; line-height:43px; background:#0080cc;

 -moz-border-radius: 6px;      /* Gecko browsers */
    -webkit-border-radius: 6px;   /* Webkit browsers */
    border-radius:6px;            /* W3C syntax */
	 
	box-shadow: 0 2px  1px rgba(207, 205, 202, 0.75), 0 0 0 0;
	margin-top:20px; display:block; font-size:16px; color:#FFF; text-align:center; text-decoration:none; font-weight:bold;}
	
	.bt_yj{ width:95%; margin:auto; height:43px; line-height:43px; background:url(../images/ico_kf.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_kf.png*/ 30px 114% no-repeat #f39800;

 -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
	 
	box-shadow: 0 2px  1px rgba(207, 205, 202, 0.75), 0 0 0 0;
	margin-top:40px; display:block; font-size:16px; color:#FFF; background-size: auto 300%; text-align:center; text-decoration:none; font-weight:bold;}
.sbg{ background:url(../images/sbg.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/sbg.jpg*/ repeat-y; background-size:cover; }

.pp_list{ position:relative; width:99%; margin:auto; margin-top:10px; }
.pp_list h3{ font-size:28px; color:#FFF; padding:17px 0px; text-align:center;}
.pp_pic{ width:64px; height:64px;}
.pp_list li{ width:33%; float:left; height:120px;   }
.pp_list li a{ display:block; width:100%; height:100%;}
.pp_pic{ margin:auto;
 

-moz-border-radius: 100px;      /* Gecko browsers */
    -webkit-border-radius: 100px;   /* Webkit browsers */
    border-radius:100px;
	margin-bottom:8px;            /* W3C syntax */
 }
 .pp_list li p{ text-align:center; color:#ffffff; text-decoration:none; height:20px; line-height:20px; font-size:16px;}
  .pp_list li  a{ text-decoration:none;}
   .pp_list li p.sm{ font-size:12px; color:#fb4818;}
   .pp_tab{   width:148px; height:30px; 
   -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;
	background:#959595;
	margin:auto;
	margin-top:20px;
   }
 
   .pp_tab a{ display:block; width:50%; text-align:center; float:left; height:100%; line-height:30px; color:#ffffff; text-decoration:none; } 
   .pp_tab a.on{ background:#ffffff; color:#0080cc;
    -moz-border-radius: 5px 0px 0px 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px 0px 0px 5px;   /* Webkit browsers */
    border-radius:5px 0px 0px 5px;
   }
     .pp_tab2 a.on{ background:#ffffff; color:#0080cc;
    -moz-border-radius: 0px 5px 5px 0px;      /* Gecko browsers */
    -webkit-border-radius:0px 5px 5px 0px;   /* Webkit browsers */
    border-radius:0px 5px 5px 0px;
	border:1px solid #0080cc;
   }
   .m_dh{ background:url(../images/ico_new_ico.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_new_ico.png*/ no-repeat; height:25px; width:25px; background-size:auto 100%; display:block; position:absolute; right:90px; top:10px; z-index:999999; no-repeat}
   .m_tel{ background:url(../images/ico_new_ico.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_new_ico.png*/ no-repeat -33px 0px; height:25px; width:25px; background-size:auto 100%; display:block; position:absolute; right:55px; top:10px; z-index:999999; }
    .m_sc{ background:url(../images/ico_new_ico.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_new_ico.png*/ no-repeat -66px 0px; height:25px; width:25px; background-size:auto 100%; display:block; position:absolute; right:20px; top:10px; z-index:999999; }
   .mlogo{ width:57px; height:57px; background:url(../images/logo_lo5.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/logo_lo5.png*/; background-size:cover; position:absolute; left:30px; bottom:10px; z-index:99999;}
   .m_dz{   width:135px; height:26px;-moz-border-radius: 20px;      /* Gecko browsers */
    -webkit-border-radius: 20px;   /* Webkit browsers */
    border-radius:20px; text-align:center; position:absolute; right:10px; bottom:10px; line-height:26px; background:url(../images/ico_dz.jpg)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_dz.jpg*/ no-repeat 10px #FFF;  background-size:auto 80%;}
 
   .zxhd ul li{ background:none; margin-bottom:6px; margin-top:4px; border-bottom:1px solid #dfdfdf;}
   .zxhd ul li a{ border:0px;}
   .sjjs_menu{ border:0px;}
   .sjjs_menu ul li{ background:#0080cc; width:33.33333%;}
   .sjjs_menu ul li a{ color:#FFF;}
   .sjjs_menu ul li a.on{ border:0px; background-color:#fabe00; color:#FFF;}
   .sjjs_menu ul.zxyh_menu_ul{ width:100%;}
   .zxyh_list ul.sj_zxhd li{ background:none; border-bottom:1px #dfdfdf solid;}
   .zxyh_list ul.sj_zxhd li a{ border:0px;}
   .shinfo{ padding:10px;}
   .wypl{ width:100%; display:none; height:56px; position:fixed; left:0px; bottom:0px; background-color:#FFF; border-top:1px solid #dfdfdf;}
.wypl a{ width:95%; margin:auto; display:block; color:#FFF; text-decoration:none; font-size:18px; margin-top:8px; height:40px; line-height:40px; background:#0080cc; text-align:center;-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;}
	.ico_reply{ background:url(../images/ico_new_ico.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_new_ico.png*/  no-repeat -33px 0px; height:25px; width:25px; background-size:auto 100%; display:block; position:absolute; left:2px; top:2px;}
	.reply_title{ position:relative; height:35px; line-height:28px; text-indent:2.5em; color:#a8a8a8; border-bottom:1px solid #ebe1e3; padding-bottom:5px;}
	.zxyh_list ul.reply{ display:block;}
	.zxyh_list ul.reply li{ padding-left:30px; background:none; height:auto; border-bottom:1px solid #ebe1e3; padding-bottom:10px;}
	.reply .reply_tx{ display:block; position:absolute; left:0px; top:0px; width:19px; height:100%; background:url(../images/guest.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/guest.png*/ no-repeat center; background-size:99% auto; }
	.kf_info{ position:relative; padding:10px; padding-left:60px; font-size:14px; line-height:1.5em; border-bottom:1px solid #acacac;}
	.tx_kf{ background:url(../images/tx_kf.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/tx_kf.png*/ no-repeat top; width:41px; height:100%; background-size:100% auto; display:block; position:absolute; left:10px; top:10px;}
	.kfzxa{ position:relative;  border-bottom:1px solid #acacac; display:block; height:48px; line-height:48px; background:url(../images/fx.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/fx.png*/ no-repeat 93% 20px;text-indent:80px; background-size:auto 30%; color:#5b5048; text-decoration:none; font-size:14px;}
	.kfzxdh{ position:absolute; left:35px;  top:12px; background:url(../images/ico_kf.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_kf.png*/ no-repeat; width:25px; height:25px; background-size:100% auto; display:block; }
	.tsdh{ position:absolute; left:35px;  top:12px; background:url(../images/ico_kf.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/ico_kf.png*/ no-repeat 0px -48px; width:25px; height:28px; background-size:100% auto; display:block; }
	.dxrknew li{ text-indent:35px; color:#999999;}
	.pp_more{ width:90%; margin:auto; border-bottom:1px solid #999; text-align:center; color:#FFF; line-height:30px;}
	.ppli{ height:240px; overflow:hidden;}
	.kfzx{ background:url(../images/kfzx.png)/*tpa={:CUSTOM_TEMPLATE_PATH}Index/mall/images/kfzx.png*/ no-repeat left; text-indent:13px; color:#fabe00; position:absolute; right:4px; top:6px;  display:block; height:15px; width:65px; text-decoration:none; background-size:auto 100%;}
	.dtu{ width:320px; margin:auto; height:295px; position:relative; }
	.dtu div{padding:10px 0px; position:absolute; width:100%; left:0px; top:0px; height:231px; width:320px; text-align:center;}
	.dtu div img{ height:231px; width:320px;}
	.lcxz{ width:40px; position:absolute; top:0px; left:0px;}
	.lcxz li{ float:left; width:40px; font-size:40px; height:40px; line-height:40px; text-align:center; z-index:9999;}
	.lclist{ height:40px; width:40px; overflow:hidden; position:relative;}
	.xzlc{ width:40px;  height:40px;  position:absolute; left:20px; top:50px; z-index:9999;}
	.go_s{ display:block; position:absolute; top:-40px; left:0px; background:url(../images/go_s.png) center no-repeat; width:40px; height:40px;}
	.go_x{ display:block; position:absolute; top:40px; left:0px; background:url(../images/go_x.png) center no-repeat; width:40px; height:40px;}
	.tjsjt{ margin:auto; margin-top:-32px; text-align:center; line-height:32px; width:85px; height:32px; background:#d2d2d2;  -moz-border-radius: 10px 10px 0px 0px;      /* Gecko browsers */
    -webkit-border-radius:10px 10px 0px 0px;   /* Webkit browsers */
    border-radius:10px 10px 0px 0px;}
	.mina{ background:url(../images/sbg.jpg) no-repeat  ; z-index:99999; position:absolute; top:300px; left:0px; width:100%; background-size:cover;}
	.home_cat{ color:#FFF; text-indent:45px; height:26px; line-height:26px; background:#0080cc; width:100%; position:relative}
	.home_cat2{ background:#fabe00;}
	.home_cat3{ background:#014099;}
	
	.ca_more{ text-indent:0px; text-decoration:none; color:#a3c6e6; position:absolute; right:10px; top:0px;}
	.ico_home_hd{ position:absolute; left:6px; top:4px; background:url(../images/bm_ico2.png) no-repeat; height:18px; width:50px; background-size:auto 100%;}
	.home_cat2 .ca_more{ color:#fff;}
	.ico_home_hd2{ position:absolute; left:6px; top:2px; background:url(../images/bm_ico3.png) no-repeat; height:20px; width:50px; background-size:auto 100%;}
	.ico_home_hd3{ position:absolute; left:10px; top:2px; background:url(../images/bm_ico4.png) no-repeat; height:20px; width:50px; background-size:auto 100%;}
	.gdpp{ background:#ededed; width:100%; height:130px;}
	.homppl{ width:64px; height:64px; margin:auto;}
	.popl li{ width:98px; height:100px; float:left; text-align:center; line-height:26px; color:#000;}
	.popl li a{color:#000; text-decoration:none;}
	.pphs{ position:relative; width:294px; margin:auto; padding-top:10px; height:120px; overflow:hidden;}
	.popl{ position:absolute; left:0px; top:23px;}
	.myaa a p{ color:#000;}
	.bottom_menu li.on{ background:#fabd00;}
	
	
